@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontPoppins);
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(105deg, white 30%, #e5e5e5 58%);
}
:root{
    --colorOrange: rgb(248, 82, 22);
    --colorBlack: rgb(14, 14, 14);
    --colorBlackClaro: rgb(30, 30, 30);
    --colorWhite: #e5e5e5;
    --fontPoppins:'Poppins', sans-serif;
}
.topBar{
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    background-color: var(--colorOrange);
    color: var(--colorWhite);
    height: auto;
    text-align: center;
}

.header{
    background-color: var(--colorBlackClaro);
    padding: 12px 0;
    height: auto;
}
.header .container-header{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 24px;
}
.header .container-header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
}
.header .container-header nav img{
    width: 45px;
}
.header .container-header nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header .container-header nav ul.submenu{
    position: absolute;
    min-width: 200px;
    background-color: #262626;
    box-shadow: 0 20px 45px #000020;
    margin-top: -200px;
    opacity: 0;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 10px 15px;
    border-radius: 4px;  
    gap: 20px;  
}
.header .container-header nav ul li.cliente{
    background-color: rgb(255, 73, 7);
    padding: .3rem .8rem;
    border-radius: 5px;
   
}
.header .container-header nav ul li.cliente a{
    color: var(--colorWhite);
    font-weight: 590;
    letter-spacing: 1px;
}
.header .container-header nav ul li.cliente:hover a{
    color: #c9c9c9;
}
.header .container-header nav ul li.hospedagem{
    color: var(--colorWhite);
    cursor: pointer;
    padding: 10px;
}
.header .container-header nav ul.submenu li .container-top{
    display: flex;
    align-items: center;
    gap: 12px;
}
.header .container-header nav ul.submenu li .container-top img{
    width: 35px;
}
.header .container-header nav ul.submenu li .container-top img.imgMine{
    cursor: default;
}
.header .container-header nav ul.submenu li .container-top .content-minecraft{
    color: #8c8c8c;
    cursor: default;
}
.header .container-header nav ul.submenu li .container-top .content{
    display: flex;
    flex-direction: column ;
}
.header .container-header nav ul.submenu li .container-top .content p{
    font-size: 16px;
    font-weight: 800;
}
.header .container-header nav ul.submenu li .container-top .content span{
    font-weight: 100;
    font-size: 13px;
}
.header .container-header nav ul.submenu li a{
  color: var(--colorWhite);
}
.header .container-header nav ul.submenu.clicado{
    z-index: 99;
    opacity: 1;
    margin-top: 220px;
}
.header .container-header nav ul li i{
    margin-right: 5px;
}
.header .container-header nav ul li i.fa-caret-up{
    color: var(--colorWhite);
    margin-left: 5px;
    transition: .3s;
}
.header .container-header nav ul li i.fa-caret-up.clicado{
    transform: rotate(180deg);
}
.header .container-header nav ul li{
    list-style: none;
    display: flex;
    align-items: center;
}
.header .container-header nav ul li a{
    transition: .3s;
    text-decoration: none;
    color: var(--colorWhite);
}
.header .container-header nav ul li a.inicial{
    color: var(--colorOrange);
}
.header .container-header nav ul li.inicial{
    background-color: var(--colorBlack);
    padding: .3rem .8rem;
    border-radius: 5px;
}
.header .container-header nav ul li a:hover{
    color: var(--colorOrange);
}
.container-hamburguer{
    display: none;
}
.hamburguer{
    cursor: pointer;
}
.bar{
    display: block;
    width: 1.8rem;
    height: 3px;
    margin: 5px auto;
    transition: .3s ease-in-out;
    background-color: var(--colorWhite);
    border-radius: 6px;
}
.bar2{
    margin-left: 10px;
}
.bar3{
    margin-left: 13px;
}


section.home {
   padding: 10rem 0;
   height: auto;
}
section.home .container-home{
    padding: 0 24px;
    max-width: 1350px;
    margin: 0 auto;
    box-sizing: content-box;

    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
section.home .container-home .boxText .text{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
section.home .container-home .boxText .text h1{
    font-size: 60px;
    line-height: 59px;
    font-weight: bold;
    
}
section.home .container-home .boxText .text h1 span{
    color: var(--colorOrange);
}
section.home .container-home .boxText .text p{
    color: var(--colorBlackClaro);
    font-weight: 600;
    font-size: 18px;
}
section.home .container-home .buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
section.home .container-home .buttons a{
    text-decoration: none;
    color: var(--colorWhite);
    border-radius: 9px;
    letter-spacing: 1px;
    transition: .3s;
    -webkit-box-shadow: 0px 0px 14px 2px #757575; 
    box-shadow: 0px 0px 14px 2px #757575;
}
section.home .container-home .buttons a div{
    background-color: var(--colorBlackClaro);
    padding: .5rem 1rem;
    border-radius: 6px;
    transition: .3s;
    text-align: center;
}
section.home .container-home .buttons a:hover div{
    opacity: .8;

}
section.home .container-home img{
    width: 32rem;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0));
}


section.about{
    padding: 3rem 0 10rem;

}
section.about .container-about{
    max-width: 1350px;
    padding: 0 24px;
    box-sizing: content-box;
    margin: 0 auto;
}
section.about .container-about .topAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.about .container-about .topAbout p{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
section.about .container-about .topAbout h1{
    font-size: 49px;
    text-align: center;
}
section.about .container-about .topAbout h1 > span{
    color: var(--colorOrange);
}
section.about .container-about .topAbout .spnSobre{
    font-size: 20px;
    background-color: var(--colorBlackClaro);
    color: var(--colorWhite);
    padding: .3rem .9rem;
    border-radius: 3px;
    text-align: center;
}
section.about .container-about .topAbout .spnSobre > span{
    color: var(--colorOrange);
}
section.about .container-about .boxCard{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    overflow-x: auto;
}
section.about .container-about .boxCard .card{
    background-color: var(--colorWhite);
    border: 1px solid var(--colorOrange);
    border-radius: 18px;
    height: 250px;
    padding: 1.5rem;
    min-width: 400px;
    transition: .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.about .container-about .boxCard .card h1{
    text-align: center;
}
section.about .container-about .boxCard .card p{
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.728);
}


section.clientes{
    padding: 5rem 0;
    background-color: var(--colorBlackClaro);
    clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 100%);
}
section.clientes .container-clientes{
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1350px;
    padding: 0 24px;
}
section.clientes .container-clientes .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.clientes .container-clientes .text p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--colorWhite);
}
section.clientes .container-clientes .text h1{
    font-size: 49px;
    color: var(--colorWhite);
    text-align: center;
}
section.clientes .container-clientes .text h1 > span{
    color: var(--colorOrange);
}


section.clientes .container-clientes .carrossel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    
}

/* carrossel */
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: var(--colorWhite);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;

    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
  }
  .carousel .card .img {
    width: 200px;
  }
  .card .img img {
    width: 200px;
    
    object-fit: cover;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
/* carrossel end */


section.clientes .container-clientes .carrossel img{
    width: 200px;
}


footer{
    background-color: var(--colorOrange);
    padding: 2rem 0;
}
footer .container-footer{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: content-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}
footer .container-footer h1{
    color: var(--colorBlackClaro);
    font-size: 40px;
    text-align: center;
}

footer .container-footer p{
    font-size: 18px;
    text-align: center;
}
footer .container-footer a{
    text-decoration: none;
    color: var(--colorBlack);
    font-weight: bold;
    text-align: center;
}


/* botão back to top */

.back-to-top
{opacity: 0; 
transition: .4s;
pointer-events: none;
}

.back-to-top-content{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 40px;
    width: 40px;
    background-color: var(--colorBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}
.back-to-top-content a{
    color: var(--colorWhite);
    font-weight: bold;
    font-size: 1.7rem;
}
.back-to-top.ativado{
 opacity: .5;
 transition: .3s;
 pointer-events: all;
}
.back-to-top.ativado:hover{
    opacity: 1;
}
/* botão back to top end */



@media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 3) - 9px);
    }
  }
  @media screen and (max-width: 850px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
    header .container-hamburguer{
        display: block;
        position: relative;
       z-index: 2;
    }
    nav{
        justify-content: space-between !important;
    }
    header nav ul span{
        display: inline-block;
    }
    .hamburguer.active .bar2,
    .hamburguer.active .bar3{
        margin-left: 0;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
        background-color: #000;
    }
    .hamburguer.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
       border-radius: 5px;
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        border-radius: 5px;
     }
     .nav-menu{
        position: fixed;
        top: -100%;
        background: var(--colorBlackClaro);
        height: 0;
        padding: 0 1rem;
        width:auto;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 10px 10px;
        left: 0;
        z-index: 1;
        transition: .6s;
        box-shadow: 0 20px 45px #000020;
        
    }
    .nav-menu.active{
        height: 50%;
        top: 0;
    }
    .header .container-header nav ul.submenu.clicado{
        margin-top: 250px;
    }
    .header .container-header nav ul.submenu{
        margin-top: -500px;
        width: 230px;
    }
  }
  @media screen and (max-width: 500px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
  }

@media (max-width:1043px) {
    section.home .container-home{
        flex-direction: column;
    }
    section.home img{
        width: 100% !important;
    }
    section.home .text h1{
        text-align: start;
        line-height: 65px !important;
    }
}
@media (max-width:464px) {
    section.home .buttons{
       flex-direction: column;
       align-items: start !important;
    }
    section.home .buttons div{
        width: 200px;
    }
    section.home h1{
        font-size: 50px !important;
    }
    section.about .container-about .boxCard{
        overflow-x: unset;
        flex-direction: column;
    }   
    section.about .container-about .boxCard .card{
        width: 100%;
        height: auto;
        min-width:auto;
        align-items: center;
        gap: 1rem;
    }
    section.clientes{
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    }

}